body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 50px;
    text-align: center;
}

main {
    padding: 50px;
    max-width: 900px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    position: relative;
}

img {
    max-width: 100%;  /* Asegura que la imagen no sea más grande que el contenedor */
    height: auto;  /* Mantiene la proporción original de la imagen */
    display: block; /* Evita espacios en línea extra */
    margin: 0 auto; /* Centra las imágenes */
    width: 60%; /* Ajusta el ancho según necesites (puedes cambiar el porcentaje) */
}

